.hamburgerMenu{
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer;

  @include pc {
    margin: 25px 40px 0 0;
  }

  @include tab {
    margin: 20px 30px 0 0;
  }

  @include spxl {
    margin: 12px 15px 0 0;
  }

  @include spsm {
    margin:12px 15px 0 0;

  }

  &__menuLine01 {
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #212d55;
    transition: all 0.3s;

    @include pc {
      width: 40px;
      top:9px;
    }

    @include tab {
      width: 30px;
      top:9px;
    }

    @include spxl {
      width: 30px;
      top:9px;
    }

    @include spsm {
      width: 30px;
      top:9px;
    }
  }

  &__menuLine02 {
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #212d55;
    transition: all 0.3s;
    @include pc {
      width: 40px;
      top:23px;
    }

    @include tab {
      width: 30px;
      top:23px;
    }

    @include spxl {
      width: 30px;
      top:17px;
    }
    @include spsm {
      width: 30px;
      top:17px;
    }
  }

  &__menuLine03 {
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #212d55;
    transition: all 0.3s;
    @include pc {
      width: 40px;
      top:37px;
    }

    @include tab {
      width: 30px;
      top:37px;
    }

    @include spxl {
      width: 30px;
      top:25px;

    }
    @include spsm {
      width: 30px;
      top:25px;
    }
  }

}

.hamburgerMenu__menuLine01--opened {
  transform: rotate(45deg);
  top:20px;
}

.hamburgerMenu__menuLine02--opened {
  width: 0px;
}
.hamburgerMenu__menuLine03--opened {
  transform: rotate(-45deg);
  top:20px;
}

