.latestArchive {
  @include pc {
    width:775px;
    padding-left: 110px;
  }

  @include tab {
    width: 775px;
    padding-left: 110px;
  }

  @include spxl {
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
  }

  &__title {
    margin-top:25px;
    p {
      font-size: 3rem;
      font-weight: bold;
    }
  }

  &__wrapper {
    margin-top: 20px;
    @include spxl {
      margin: 0 auto;
    }
    @include spsm {
      width: 100%;
    }
  }

  &__container {
    display: flex;
    margin-bottom: 25px;
    img{
      @include spsm {
        width:50%;
      }
    }
    p {
      font-size: 2.4rem;
      padding-left: 24px;
      @include spsm {
        font-size: 1.9rem;
        padding-left: 16px;
      }
    }
  }
}
